<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Rocketflix</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="container">
   <div class="content">
    <img src="./assets/shuffle.svg" class="shuffle">
    <h1>Não sabe o que assistir?</h1>

    <div class="film">
    </div>

    <button type="button" class="find-film">
      <img src="./assets/shuffle.svg" class="button-shuffle">
      <p>Encontrar filme</p>
    </button>

    <div class="infos">
      <p>Clique em "Encontrar filme" que traremos informações</p>
      <p>de algum filme para você assistir hoje.</p>
    </div>
   </div> 

  <script src="./main.js"></script>
</body>
</html>